
body {
    padding-top: 50px;
}

/* TODO: delete ? */
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid gray;
}

.h-separator{
    height: 10px;
}